@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --siteBackgroundColor: #E5E5E5;
    --blackColor: #000;
    --whiteColor: #FFF;
    --contactColor: #757575;
    --secondaryPageColor: #212121;
    --mainPageColor: #2196F3;
    --footerContactColor: rgba(255, 255, 255, 0.6);
    --bannerBackgroundColor: #2F303A;
    --buttonColor: #F5F4FA;
    --headerButtonColor: #ECECEC;
    --portfolioBorderColor: #EEEEEE;
    --socialMediaColor: #AFB1B8;
    --footersocialMediaBackgroundColor: rgba(255, 255, 255, 0.1);
    --bannerBackgroundColorGradient: rgba(47, 48, 58, 0.4);
    --backgroundAboutUs: rgba(47, 48, 58, 0.8);
    --bodyWindowBackgroundColor: rgba(0, 0, 0, 0.2);
    --closeButtonBorderColor: rgba(0, 0, 0, 0.1);
    --portfolioOverlayColor: rgba(33, 150, 243, 0.9);
    --newsletterTextColor: rgba(255, 255, 255, 0.6);
    --formPlaceholderColor: rgba(117, 117, 117, 0.5);
}

/*-------------------------------------- GLOBAL STLES --------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a,
li {
    font-style: normal;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--whiteColor);
    color: var(--secondaryPageColor);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-------------------------------------- HEADER STLES --------------------------------------*/

.header {
    border-bottom: 1px solid var(--headerButtonColor);
}

.header-container {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 50px;
    position: relative;
}

.menu-list li a:hover,
.menu-list li a:focus {
    color: var(--mainPageColor);
}

.menu-item {
    position: relative;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: var(--secondaryPageColor);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.menu-contact-list {
    margin-left: auto;
}

.menu-contact-item {
    color: var(--contactColor);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.menu-contact-item .icon {
    fill: currentColor;
}

.menu-item-active {
    color: var(--mainPageColor);
}

.menu-item-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--mainPageColor);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

/*-------------------------------------- LOGO STLES --------------------------------------*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blackColor);
}

.logo span {
    color: var(--mainPageColor);
}

.logo-menu {
    margin-right: 93px;
    padding: 24px 0 25px;
}

.logo-footer {
    color: var(--whiteColor);
}

/*-------------------------------------- FOOTER STLES --------------------------------------*/

.footer {
    background: var(--bannerBackgroundColor);
    padding: 60px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.footer-list li:first-child a {
    color: var(--whiteColor);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-item {
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.footer-item:hover,
.footer-item:focus,
.footer-list li:first-child a:hover,
.footer-list li:first-child a:focus {
    color: var(--mainPageColor);
}

.footer-list a {
    line-height: 1.71;
}

.footer-navigation {
    margin-top: 20px;
}

.footer-navigation a {
    color: var(--footerContactColor);
}

.footer-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--whiteColor);
    margin-bottom: 20px;
}

.footer-social_media-list {
    display: flex;
    gap: 10px;
}

.footer-social_media .footer-social_media-icon {
    width: 20px;
    height: 20px;
    fill: var(--whiteColor);
}

.footer-social_media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footersocialMediaBackgroundColor);
    color: var(--whiteColor);
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.footer-social_media-container:hover,
.footer-social_media-container:focus {
    background-color: var(--mainPageColor);
}

.newsletter input {
    padding: 15px 0 15px 16px;
    background-color: var(--bannerBackgroundColor);
    color: var(--newsletterTextColor);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 358px;
}

.newsletter button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: var(--mainPageColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--whiteColor);
}

.newsletter-icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.newsletter-container {
    display: flex;
    gap: 12px;
}

/*-------------------------------------- BANNER STLES --------------------------------------*/

.banner {
    background-color: var(--bannerBackgroundColor);
    padding: 200px 0;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(var(--bannerBackgroundColorGradient),
            var(--bannerBackgroundColorGradient)), url(./../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1600px;
    height: 600px;
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    font-family: inherit;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--whiteColor);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.banner-button {
    color: var(--whiteColor);
    background: var(--mainPageColor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0 auto;
    padding: 10px 41px
}

/*-------------------------------------- MODAL WINDOW STLES --------------------------------------*/

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--whiteColor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 11;

}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--whiteColor);
    border: 1px solid var(--closeButtonBorderColor);
    border-radius: 50%;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bodyWindowBackgroundColor);
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-contact {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal-contact p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondaryPageColor);
    margin-bottom: 12px;
}

.reg {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contactColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.modal-contact input[type="checkbox"] {
    border: 1px solid #212121;
    border-radius: 0rem;
}

.modal-contact a {
    color: var(--mainPageColor);
    text-decoration: underline;
}

.modal-contact button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--mainPageColor);
    color: #FFFFFF;
}

.contact-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-form-group textarea[name="comment"] {
    height: 120px;
    resize: none;
}

.contact-form-group label[for="comment"] {
    margin-bottom: 0px;
}

.contact-form-group label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-form-group input,
.contact-form-group textarea {
    padding: 12px 16px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.contact-form-group textarea::placeholder {
    color: var(--formPlaceholderColor);
}

.contact-form-group input:focus,
.contact-form-group textarea:focus {
    border-color: var(--mainPageColor);
}

.contact-form-group input:focus+.form-icon,
.contact-form-group textarea:focus+.form-icon {
    fill: var(--mainPageColor);
}

.contact-form-group input {
    padding-left: 42px;
}

.contact-form-group span {
    margin-bottom: 4px;
    line-height: 1.16;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--contactColor);
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    fill: var(--secondaryPageColor);
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

/*-------------------------------------- CHECKBOX STLES --------------------------------------*/

.option {
    display: block;
    margin-bottom: 30px;
    position: relative;
}

.check {
    padding-left: 1.2em;
}

.check__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.check__box {
    position: absolute;
    top: 0.3em;
    left: 1em;
    width: 16px;
    height: 15px;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em var(--secondaryPageColor);
}

.check__input:checked+.check__box {
    background-color: var(--mainPageColor);
    background-image: url(../images/check.svg);
}

.check__input:focus+.check__box {
    box-shadow:
        0 0 0 0.1em var(--mainPageColor),
        0 0 0 0.1em var(--mainPageColor);
}

.check__input:disabled+.check__box {
    box-shadow: 0 0 0 0.1em var(--secondaryPageColor);
}

.check__input:checked:disabled+.check__box {
    background-color: var(--secondaryPageColor);
}

/*-------------------------------------- DESCRIPTION STLES --------------------------------------*/

.description-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
}

.description-item {
    width: 270px;
}

.description-item-container {
    width: 270px;
    height: 120px;
    background-color: var(--buttonColor);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.description-item-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondaryPageColor);
    margin-bottom: 10px;
}

.description-item-content {
    line-height: 1.71;
    color: var(--contactColor);
}

/*-------------------------------------- ABOUT US STLES --------------------------------------*/

.about_us {
    padding-top: 0;
}

.about_us-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about_us-list li {
    position: relative;
}

.about_us-list-description {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: var(--backgroundAboutUs);
    height: 70px;
    width: 370px;
}

.about_us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondaryPageColor);
    margin-bottom: 50px;
}

/*-------------------------------------- CREW STLES --------------------------------------*/

.crew {
    background: var(--buttonColor);
    display: block;
}

.crew-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.crew-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondaryPageColor);
    margin-bottom: 50px;
}

.crew-item {
    width: 270px;
    background: var(--whiteColor);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.crew-item-container {
    padding: 30px 0;
}

.crew-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondaryPageColor);
    margin-bottom: 10px;
}

.crew-item-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--contactColor);
    margin-bottom: 16px;
}

.crew-item-social_media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.crew-item-social_media .crew-item-social_media-icon {
    fill: currentColor;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.crew-item-social_media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--socialMediaColor);
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.crew-item-social_media-container:hover,
.crew-item-social_media-container:focus {
    background-color: var(--mainPageColor);
    color: var(--whiteColor);
}

/*-------------------------------------- CLIENTS STLES --------------------------------------*/

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondaryPageColor);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    gap: 30px;
}

.clients-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--socialMediaColor);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.clients-list-container:hover,
.clients-list-container:focus {
    color: var(--mainPageColor);
}

.clients-list-logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/*-------------------------------------- PORTFOLIO STLES --------------------------------------*/

.portfolio button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    background: var(--buttonColor);
    color: var(--secondaryPageColor);
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio button:hover,
.portfolio button:focus {
    color: var(--whiteColor);
    background: var(--mainPageColor);
}

.portfolio-bottons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-item-img {
    position: relative;
    overflow: hidden;
}

.portfolio-item-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--portfolioOverlayColor);
    transform: translatey(100%);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio-item-overlay p {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--whiteColor);
    padding: 49px 45px 49px 24px;
}

.portfolio-item-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    display: block;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
    transform: translateY(0);
}

.portfolio-item-container {
    border: 1px solid var(--portfolioBorderColor);
    padding: 20px 24px;
}

.portfolio-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondaryPageColor);
    margin-bottom: 4px;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.87;
    color: var(--contactColor);
}