@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.about-us {
  padding-top: 0;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.about-us__list {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 30px;
}

.about-us__description {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
}

.banner {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/banner.jpg));
  background-size: cover;
  background-repeat: no-repeat;
  width: 1600px;
  height: 600px;
}

.banner__title {
  font-weight: 900;
  font-size: 44px;
  font-family: inherit;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #fff;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner__button {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 41px;
}

.option {
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: 0.3em;
  left: 1em;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;
}

.check__input:checked + .check__box {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
}

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #2196f3, 0 0 0 0.1em #2196f3;
}

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #212121;
}

.check__input:checked:disabled + .check__box {
  background-color: #212121;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.clients__container:hover, .clients__container:focus {
  color: #2196f3;
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.crew {
  background: #f5f4fa;
  display: block;
}

.crew__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.crew__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.crew__item {
  width: 270px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.crew__container {
  padding: 30px 0;
}

.crew__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.crew__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.crew__social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.crew__social-media .crew__social-media-icon {
  fill: currentColor;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.crew__social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.crew__social-media-container:hover, .crew__social-media-container:focus {
  background-color: #2196f3;
  color: #fff;
}

.description {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

.description__container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.description__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  margin-bottom: 10px;
}

.description__content {
  line-height: 1.71;
  color: #757575;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer .footer__container {
  display: flex;
  align-items: baseline;
  gap: 70px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__list a {
  line-height: 1.71;
}
.footer__list li:first-child a {
  color: #fff;
}
.footer__list li:first-child a:hover, .footer__list li:first-child a:focus {
  color: #2196f3;
}

.footer__item {
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__item:hover, .footer__item:focus, .footer__item li:first-child a:hover, .footer__item li:first-child a:focus {
  color: #2196f3;
}

.footer__navigation {
  margin-top: 20px;
}
.footer__navigation a {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__social-media-list {
  display: flex;
  gap: 10px;
}

.footer__social-media .footer__social-media-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.footer__social-media-container:hover, .footer__social-media-container:focus {
  background-color: #2196f3;
}

.newsletter__input {
  padding: 15px 0 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 358px;
}

.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
}

.newsletter__icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.newsletter__container {
  display: flex;
  gap: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a,
li {
  font-style: normal;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu__list,
.contact__list {
  display: flex;
  gap: 50px;
  position: relative;
}
.menu__list li a:hover, .menu__list li a:focus,
.contact__list li a:hover,
.contact__list li a:focus {
  color: #2196f3;
}

.menu__item {
  position: relative;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: #212121;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.menu__item--active {
  color: #2196f3;
}
.menu__item--active:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.contact__list--position {
  margin-left: auto;
}

.contact__item {
  color: #757575;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.contact__icon {
  fill: currentColor;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.logo span {
  color: #2196f3;
}

.logo--menu {
  margin-right: 93px;
  padding: 24px 0 25px;
}

.logo--footer {
  color: #fff;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 11;
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.reg {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.modal-contact {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal-contact p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-contact input[type=checkbox] {
  border: 1px solid #212121;
  border-radius: 0rem;
}
.modal-contact a {
  color: #2196f3;
  text-decoration: underline;
}
.modal-contact button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  color: #ffffff;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form-group textarea[name=comment] {
  height: 120px;
  resize: none;
}
.contact-form-group label[for=comment] {
  margin-bottom: 0px;
}
.contact-form-group label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact-form-group input, .contact-form-group textarea {
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contact-form-group textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-group textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-group textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-group input:focus, .contact-form-group textarea:focus {
  border-color: #2196f3;
}
.contact-form-group input:focus + .form-icon, .contact-form-group textarea:focus + .form-icon {
  fill: #2196f3;
}
.contact-form-group input {
  padding-left: 42px;
}
.contact-form-group span {
  margin-bottom: 4px;
  line-height: 1.16;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: #212121;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.portfolio__list {
  display: flex;
  justify-content: center;
}

.portfolio__list--buttons {
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio__list--cards {
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background: #f5f4fa;
  color: #212121;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #fff;
  background: #2196f3;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio__overlay p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 49px 45px 49px 24px;
}

.portfolio__item {
  display: block;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__overlay, .portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__container {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}/*# sourceMappingURL=main.css.map */