.about-us {
    padding-top: 0;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: $secondaryPageColor;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
        position: relative;
        gap: 30px;
    }

    &__description {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $whiteColor;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        background-color: $backgroundAboutUs;
        height: 70px;
        width: 370px;
    }
}
