.header {
    border-bottom: 1px solid $headerButtonColor;

    &__container {
        display: flex;
        align-items: center;
    }
}

&__list,
.contact__list {
    display: flex;
    gap: 50px;
    position: relative;

    li a:hover,
    li a:focus {
        color: $mainPageColor;
    }
}

.menu {
    &__item {
        position: relative;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        padding: 32px 0;
        color: $secondaryPageColor;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    &__item--active {
        color: $mainPageColor;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $mainPageColor;
            height: 4px;
            width: 100%;
            border-radius: 2px;
        }
    }
}

.contact {
    &__list--position {
        margin-left: auto;
    }

    &__item {
        color: $contactColor;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    &__icon {
        fill: currentColor;
    }
}
