.header {
    border-bottom: 1px solid var(--headerButtonColor);
}

.header__container {
    display: flex;
    align-items: center;
}

.menu__list,
.contact__list {
    display: flex;
    gap: 50px;
    position: relative;
    
    & li a:hover,
    & li a:focus {
        color: var(--mainPageColor);
    }
}

.menu__item {
    position: relative;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 0;
    color: var(--secondaryPageColor);
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.menu__item--active {
    color: var(--mainPageColor);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--mainPageColor);
        height: 4px;
        width: 100%;
        border-radius: 2px;
    }
}
.contact__list--position {
    margin-left: auto;
}

.contact__item {
    color: var(--contactColor);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.contact__icon {
    fill: currentColor;
}
