.portfolio__list {
    display: flex;
    justify-content: center;
}

.portfolio__list--buttons {
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio__list--cards {
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    background: $buttonColor;
    color: $secondaryPageColor;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio__button:hover,
.portfolio__button:focus {
    color: $whiteColor;
    background: $mainPageColor;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $portfolioOverlayColor;
    transform: translatey(101%);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio__overlay p {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $whiteColor;
    padding: 49px 45px 49px 24px;
}

.portfolio__item {
    display: block;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.portfolio__item:hover,
.portfolio__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
    transform: translateY(0);
}

.portfolio__container {
    border: 1px solid $portfolioBorderColor;
    padding: 20px 24px;
}

.portfolio__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $secondaryPageColor;
    margin-bottom: 4px;
}

.portfolio__description {
    font-size: 16px;
    line-height: 1.87;
    color: $contactColor;
}