$siteBackgroundColor: #e5e5e5;
$blackColor: #000;
$whiteColor: #fff;
$contactColor: #757575;
$secondaryPageColor: #212121;
$mainPageColor: #2196f3;
$footerContactColor: rgba(255, 255, 255, 0.6);
$bannerBackgroundColor: #2f303a;
$buttonColor: #f5f4fa;
$headerButtonColor: #ececec;
$portfolioBorderColor: #eeeeee;
$socialMediaColor: #afb1b8;
$footersocialMediaBackgroundColor: rgba(255, 255, 255, 0.1);
$bannerBackgroundColorGradient: rgba(47, 48, 58, 0.4);
$backgroundAboutUs: rgba(47, 48, 58, 0.8);
$bodyWindowBackgroundColor: rgba(0, 0, 0, 0.2);
$closeButtonBorderColor: rgba(0, 0, 0, 0.1);
$portfolioOverlayColor: rgba(33, 150, 243, 0.9);
$newsletterTextColor: rgba(255, 255, 255, 0.6);
$formPlaceholderColor: rgba(117, 117, 117, 0.5);

// --siteBackgroundColor: #E5E5E5;
// --blackColor: #000;
// --whiteColor: #FFF;
// --contactColor: #757575;
// --secondaryPageColor: #212121;
// --mainPageColor: #2196F3;
// --footerContactColor: rgba(255, 255, 255, 0.6);
// --bannerBackgroundColor: #2F303A;
// --buttonColor: #F5F4FA;
// --headerButtonColor: #ECECEC;
// --portfolioBorderColor: #EEEEEE;
// --socialMediaColor: #AFB1B8;
// --footersocialMediaBackgroundColor: rgba(255, 255, 255, 0.1);
// --bannerBackgroundColorGradient: rgba(47, 48, 58, 0.4);
// --backgroundAboutUs: rgba(47, 48, 58, 0.8);
// --bodyWindowBackgroundColor: rgba(0, 0, 0, 0.2);
// --closeButtonBorderColor: rgba(0, 0, 0, 0.1);
// --portfolioOverlayColor: rgba(33, 150, 243, 0.9);
// --newsletterTextColor: rgba(255, 255, 255, 0.6);
// --formPlaceholderColor: rgba(117, 117, 117, 0.5);
